<div class="text-center">
  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>

  <h1>Edit Profile</h1>

  <%= render 'form' %>

  <%= link_to 'Back', @user %>
</div>
