<div class="text-center">
  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>
  <h1>Edit Place</h1>

  <%= render 'form' %>

  <%= link_to 'Back', :controller => "lists", :action => "show", :id => @place.list.id %>
</div>
