<header class="navbar navbar-default">
<div class="navbar-class">
  <div class="container">
    <ul class="nav navbar-nav">
    <li><a href="#">SAVORY</a></li>
    <% if @current_user %>
        <li><a href="/lists">Lists</a></li>
        <li><a href="/places">Places</a></li>
        <li><a href="/logout">Logout</a></li>
    <% end %>
    </ul>
  </div>
</div>
</header>